/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
  font-family: "PT Serif", serif;
}

body {
  font-size: 18px;
  background-color: white;
  text-align: justify;
}


body,
h1 {
  color: #414141;
}

header {
  margin-bottom: 100px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  margin: 100px 50px 0px 50px;
  line-height: 0.8;
}

.subtitle {
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  font-size: 36px;
  color: #7d7d7d;
  margin: 30px 200px 0px 200px;
}

.lead {
  font-size: 21px;
  margin: 1rem 0;
  margin-bottom: 0px 0px 30px 0px;
}

a {
  color: #ca5e10;
}